section.concert {
    .container {
        padding: 100px 0;
    }

    img {
        margin: 38px 80px 0 0;
    }

    h5 {
        margin-bottom: 30px;
    }

    li {
        line-height: 1.5;
    }

    ul.details {
        position: absolute;
        padding-top: 160px;
    }

    .ticket {
        margin-top: 25px;
        a {
            background-color: $color;
            padding: 20px 40px;
            border-radius: 25px;
            margin-bottom: 20px;
            transition-duration: $duration;

            &:hover {
                transition-duration: $duration;
                opacity: 0.8;
            }
        }
    }
}

aside.video.clearfix {
    float: right;
    width: 30%;
    &:after {
        content: "";
        clear: both;
    }

    span {
        margin-bottom: 5px;
    }

    div.the-arrows {
        text-align: right;
        margin: 20px 0;
        li {
            margin: 0 0 10px 5px;
            transition-duration: $duration;
            &:hover {
                transition-duration: $duration;
                opacity: 0.8;
            }
        }

        a {
            color: $primary-color;
            padding: 8px 10px;
            background-color: $color;
        }
    }

    iframe {
        height: 290px;
        width: 360px;

    }
}