section.concert {
    .container {
        padding: 100px 0;
    }

    img {
        margin: 47px 80px 0 0;
    }

    h5 {
        margin-bottom: 30px;
    }

    li {
        line-height: 1.5;
    }

    ul.details {
        position: absolute;
        padding-top: 160px;
    }

    .ticket {
        margin-top: 25px;
        a {
            background-color: $color;
            padding: 20px 40px;
            border-radius: 25px;
            margin-bottom: 20px;
            transition-duration: $duration;

            &:hover {
                transition-duration: $duration;
                opacity: 0.8;
            }
        }
    }
}

aside.video.clearfix {
    float: right;
    &:before {
        content: "";
        clear: both;
    }

    span {
        margin-bottom: 5px;
    }

    a {
        color: $primary-color;
        background-color: $color;
        padding: 6px 10px;
        margin-left: 5px;
        text-align: end;
        float: right;
        transition-duration: $duration;
        &:hover {
            transition-duration: $duration;
            opacity: 0.8;
        }
    }

    iframe {
        height: 290px;
        width: 360px;
        margin-top: 10px;
    }
}