.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    nav, ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav {
        justify-content: space-between;
    }
}

.introduction {
    div.singers {
        display: flex;
        justify-content: space-between;
    }

    img {
        display: block;
    }

    ul.the-arrows {
        display: flex;
        justify-content: flex-end;
    }

    div.three-singers {
        position: relative;
        overflow: hidden;
        div.singers-contacts {
            position: absolute;
            bottom: -50px;
            padding: 15px 120px 0 26px;
            transition-duration: $duration;
            &:hover {
                bottom: 0;
                transition-duration: $duration;
            }

            ul {
                padding: 25px 0;
            }

            li {
                display: inline-block;
                padding-right: 15px;
            }

            span {
                padding-left: 10px;
            }
        }
    }
}

.concert {
    ul {
        display: inline-block;
    }
}

.songs-and-inst {
    div.popular-songs {
        ul {
            display: inline-block;
        }
    }
}

.downloads {
    li {
        display: inline-block;
    }
}

.subscription {
    ul, li {
        display: inline-block;
    }
}

footer {
    li {
        display: inline-block;
    }
}