.introduction {
    div.container {
        padding: 100px 0;
        border-bottom: 1px solid #dfdfdf;
        div.the-arrows {
            text-align: right;
            margin: 20px 0;
            li {
                margin: 0 0 10px 5px;
                transition-duration: $duration;
                &:hover {
                    transition-duration: $duration;
                    opacity: 0.8;
                }
            }

            a {
                color: $primary-color;
                padding: 8px 10px;
                background-color: $color;
            }
        }
    }

    div.singers-contacts {
        background-color: $color;
        h5 {
            padding-bottom: 5px;
        }

        a {
            transition-duration: $duration;
            &:hover {
                transition-duration: $duration;
                opacity: 0.8;
            }
        }
    }
}