.main {
    background-image: url('../images/background1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid $color;

    div.container {
        text-align: center;
        padding: 100px 0;

        h2 {
            padding-bottom: 55px;
        }

        a {
            background-color: $color;
            padding: 20px 45px;
            border-radius: 25px;
            transition-duration: $duration;

            &:hover {
                transition-duration: $duration;
                opacity: 0.7;
            }
        }
    }
}
