.main {
    //background-image: url('../images/background1.png');
    //background-repeat: no-repeat;
    //background-size: 100%;
    margin-bottom: 20px;
    //border-bottom: 3px solid $color;
    position: relative;
    overflow-x: hidden;
    div.flexslider {
        img {
            width: 100%;
            border-bottom: 3px solid $color;
        }
    }
    div.container {
        text-align: center;
        padding: 80px 0;
        position: absolute;
        top: 5px;
        pre {
            padding-top: 0;
            margin-top: 40px;
        }

        a {
            background-color: $color;
            padding: 20px 45px;
            border-radius: 25px;
            transition-duration: $duration;

            &:hover {
                transition-duration: $duration;
                opacity: 0.7;
            }
        }
    }
}
