.songs-and-inst {
    div.container {
        padding: 100px 0;
    }

    .popular-songs {
        display: block;
        width: 60%;
        ul {
            padding: 25px 10px;
            box-sizing: border-box;
        }
        li {
            line-height: 1.5;
            padding: 10px 20px 10px 0;
            border-bottom: 1px solid #999;
            font-family: $primary-font;
            font-size: 16px;
            transition-duration: 0.5s;
            &:hover {
                transition-duration: 0.5s;
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }

    .instagram {
        float: right;
        width: 33.33%;
        box-sizing: border-box;
        .first-img, .second-img, .third-img, .fourth-img {
            float: left;
            width: 50%;
            box-sizing: border-box;
            transition-duration: 0.5s;
            &:before {
                content: "";
                clear: both;
            }
            &:hover {
                transition-duration: 0.5s;
                opacity: 0.8;
            }
        }
        .first-img, .second-img {
            padding-bottom: 30px;
        }
    }
}