span {
    color: $color;
    font-size: 32px;
    font-family: $italic-font;
}

h3 {
    font-family: $main-font;
    font-size: 32px;
    color: $secondary-color;
    text-transform: $uppercase;
}

header {
    ul.menu {
        a {
            font-family: $primary-font;
            font-size: 13px;
            font-weight: 700;
            color: $primary-color;
            text-transform: $uppercase;
        }
    }

    ul.links {
        li {
            &:not(:nth-of-type(4)) {
                font-family: $secondary-font;
                font-size: 14px;

                a {
                    color: $primary-color;
                }
            }

            &:nth-of-type(4) {
                font-family: $primary-font;
                font-size: 12px;
                text-transform: $uppercase;

                a {
                    color: $color;
                }
            }
        }
    }
}

h1 {
    font-family: $main-font;
    font-size: 95px;
    font-weight: 700;
    text-transform: $uppercase;
    color: $color;
}

section.main {
    h2 {
        font-family: $italic-font;
        font-weight: 200;
        font-size: 65px;
        color: $secondary-color;
    }

    a {
        font-family: $primary-font;
        font-size: 12px;
        color: $primary-color;
        text-transform: $uppercase;
    }
}

section.introduction {
    div.three-singers {
        h5, p, a, span {
            color: $primary-color;
        }

        h5 {
            font-family: $main-font;
            font-size: 22px;
        }

        p {
            font-family: $primary-font;
            font-size: 16px;
        }

        i {
            font-size: 24px;
        }

        span {
            font-family: $secondary-font;
            font-size: 14px;
        }
    }
}

section.concert {
    h5 {
        font-family: $main-font;
        font-size: 22px;
        color: $secondary-color;
    }

    li.list {
        font-family: $primary-font;
        font-size: 16px;
    }

    .ticket {
        a {
            font-family: $primary-font;
            font-size: 12px;
            color: $primary-color;
            text-transform: $uppercase;
        }
    }
}

section.founder {
    h2, p {
        font-family: $primary-font;
        color: $primary-color;
    }

    h2 {
        font-size: 30px;
        text-transform: $uppercase;
    }

    p {
        font-size: 22px;
        span {
            font-family: $italic-font;
            font-size: 65px;
            color: $primary-color;
        }
    }

    a {
        font-family: $primary-font;
        font-size: 12px;
        font-weight: 700;
        text-transform: $uppercase;
        color: $color;
    }
}

section.downloads {
    h2 {
        font-family: $main-font;
        font-size: 32px;
        color: $primary-color;
    }

    p {
        font-family: $primary-font;
        font-size: 22px;
        color: $primary-color;
    }
}

section.subscription {
    #newsletter {
        font-family: $primary-font;
        font-size: 16px;
        letter-spacing: 5px;
        color: #282828;
    }
}

footer {
    a, p {
        font-family: $primary-font;
        font-size: 13px;
        color: $secondary-color;
    }

    a {
        text-transform: $uppercase;
    }

    span {
        font-family: $italic-font;
        font-size: 25px;
    }
}