$color: #df001f;

$primary-color: #fff;

$secondary-color: #333;

$primary-font: 'Droid Sans', sans-serif;

$secondary-font: 'Open Sans', sans-serif;

$main-font: 'Oswald', sans-serif;

$italic-font: 'Great Vibes', sans-serif;

$uppercase: uppercase;

$duration: 0.5s;
